body
{
    background: #141414 !important;
    color: #e0e0e0 !important;
    padding-top: 3em !important;
}

#watch-this-vid-info,
#masthead-container,
#watch-longform-buttons,
#subscribeDiv,
#watch-channel-icon,
#watch-url-embed-wrapper,
#pagebottom,
#watch-channel-videos-panel,
#watch-main-container,
#search-option-expander,
#search-duplicates-message,
#default-language-box,
#watch-panel,
.yt-uix-expander-head,
.ratingVS,
#watch-panel,
#guided-help-alert,
#ticker
{
    display: none !important;
}
.yt-uix-pager, .yt-uix-button
{
    border-color: #343434 !important;
    background: #1a1a1a !important;
    color: #e0e0e0 !important;
}

#watch-channel-vids-div, #watch-video-details, .watch-video-added,
#watch-video-details-inner, #watch-channel-vids-top,
#watch-headline-container, #watch-video-container,
.watch-module-body
{
    background: #141414 !important;
    color: #e0e0e0 !important;
    border: 0 !important;
}

#watch-headline-title
{
    padding-bottom: 0 !important;
}

#watch-headline-title span
{
    color: #eee !important;
    padding-left: 2em !important;
}

#watch-headline-user-info
{
    color: #eee !important;
    padding-left: 4.5em !important;
    padding-top: -3em !important;
}

#watch-other-vids
{
    width: 100% !important;
}

a, span.title
{
    color: #608BCC !important;
    text-decoration: none !important;
}

#watch-sidebar
{
    margin-top: 0 !important;
}

#watch-related,#watch-related-discoverbox
{
    overflow: visible !important;
    height: none !important;
    border: 0 !important;
    padding-top: 50em !important;
}

#watch-sidebar
{
    width: 100% !important;
}

.watch-discoverbox-body
{
    background: none !important;
    border: none !important;
}

.watch-ppv-vid
{
    background: #242424 !important;
}

.name
{
    color: white !important;
}

h1
{
    padding-bottom: 1em !important;
    padding-left: 1em !important;
}
