*.elc
*.hi
*cache*
*~
\#*\#
bin/arch/
emacs.d/ac-comphist.dat
emacs.d/.org-id-locations
emacs.d/auto-save-list/
emacs.d/customize.el
newsbeuter/
perso/
vim/.netrwhist
vimperator/info/
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
zsh/goudes.zsh
zsh/history
