*.elc
*.hi
*.local
*.o
*.pyc
*cache*
*~
\#*\#
.DS_Store
tags
bin/QFitsView*
geary/*/geary.ini
ipython/README
ipython/profile_default/*.sqlite
ipython/profile_default/db/
ipython/profile_default/log/
ipython/profile_default/pid/
ipython/profile_default/security/
ipython/profile_default/static/
ipython/nbextensions/mathjax/
bin/arch/
jupyter/migrated
jupyter/jupyter_notebook_config.json
pentadactyl/info/
perso/
vim/*.spl
vim/.netrwhist
vim/.VimballRecord
vim/NERDTreeBookmarks
vim/plugged/
vim/tmp/
vim/init.vim
vim/local.vim
vim/plugin/notmuch.vim
vim/syntax/notmuch-*.vim
vimperator/info/
weechat/*.log
weechat/*.txt
weechat/buffer_autoset.conf
weechat/irc.conf
weechat/logs/
weechat/script/
weechat/xfer/
xmonad/history
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
zathura/bookmarks
zsh/history
zsh/locals.zsh
