[submodule "bin/html2text"]
	path = bin/html2text
	url = https://github.com/Alir3z4/html2text.git
[submodule "tmux/copycat"]
	path = tmux/copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/yank"]
	path = tmux/yank
	url = https://github.com/tmux-plugins/tmux-yank
