[submodule "bin/html2text"]
	path = bin/html2text
	url = https://github.com/aaronsw/html2text.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nosecompiler"]
	path = vim/bundle/nosecompiler
	url = https://github.com/olethanh/Vim-nosecompiler.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "vim/bundle/makegreen"]
	path = vim/bundle/makegreen
	url = https://github.com/sjl/vim-makegreen.git
[submodule "vim/bundle/orgmode"]
	path = vim/bundle/orgmode
	url = https://github.com/jceb/vim-orgmode.git
[submodule "vim/bundle/splice"]
	path = vim/bundle/splice
	url = https://github.com/sjl/splice.vim.git
[submodule "vim/bundle/smartinput"]
	path = vim/bundle/smartinput
	url = https://github.com/kana/vim-smartinput.git
	ignore = dirty
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/linediff"]
	path = vim/bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
	ignore = dirty
[submodule "vim/bundle/indent-object"]
	path = vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/AnsiEsc.vim"]
	path = vim/bundle/AnsiEsc.vim
	url = https://github.com/sjl/AnsiEsc.vim.git
[submodule "vim/bundle/dispatch"]
	path = vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/pgsql"]
	path = vim/bundle/pgsql
	url = https://github.com/exu/pgsql.vim.git
[submodule "vim/bundle/rainbow-parentheses"]
	path = vim/bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/securemodelines"]
	path = vim/bundle/securemodelines
	url = https://github.com/ciaranm/securemodelines.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
