# vim: ft=conf

*.elc
*.hi
*.local
*.o
*.pyc
*cache*
*~
\#*\#
.DS_Store
tags

build/
geary/*/geary.ini
perso/
systemd/user/*.target.wants/
zathura/bookmarks
zsh/history
zsh/locals.zsh

# bin
bin/arch/
bin/ds9*
bin/exa
bin/fd
bin/QFitsView*

# ipython/jupyter
ipython/README
ipython/profile_default/*.sqlite
ipython/profile_default/db/
ipython/profile_default/log/
ipython/profile_default/pid/
ipython/profile_default/security/
ipython/profile_default/static/
ipython/nbextensions/mathjax/
jupyter/lab
jupyter/migrated
jupyter/*.json
jupyter/*/*.json

# vim
vim/*.spl
vim/.netrwhist
vim/.VimballRecord
vim/files/info/viminfo
vim/init.vim
vim/local.vim
vim/NERDTreeBookmarks
vim/plugged/
vim/plugin/notmuch.vim
vim/spell/
vim/syntax/notmuch-*.vim
vim/tmp/

# weechat
weechat/*.log
weechat/*.txt
weechat/buffer_autoset.conf
weechat/irc.conf
weechat/sec.conf
weechat/logs/
weechat/script/
weechat/xfer/
