snippet notice "notice"
	<span class="label notice">${1:Notice}</span>
endsnippet

snippet warning "warning"
	<span class="label warning">${1:Warning}</span>
endsnippet

snippet important "important"
	<span class="label important">${1:Important}</span>
endsnippet

snippet success "success"
	<span class="label success">${1:Success}</span>
endsnippet

snippet label "label"
	<span class="label">${1:Note}</span>
endsnippet

# vim:ft=snippets:
