# Global snippets

# (c) holds no legal value ;)
snippet c) "insert copyright" b
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
endsnippet

snippet date "insert date" b
	`strftime("%Y-%m-%d")`
endsnippet

snippet gh "github url" b
	http://github.com/
endsnippet

snippet bb "bitbucket url" b
	http://bitbucket.org/
endsnippet

# vim:ft=snippets:
