snippet bb
	[b]{1}[/b]
snippet ii
	[i]{1}[/i]
snippet uu
	[u]{1}[/u]
snippet ss
	[s]{1}[/s]
snippet qq
	[q]{1}[/q]
snippet cc
	[c]{1}[/c]
snippet rig
	[right]{1}[/right]
snippet cen
	[center]{1}[/center]
snippet cod
	[code]{1}[/code]
snippet img
	[img]{1}[/img]
snippet url
	[url={1}]{2}[/url]
snippet col
	[color={1}]{2}[/color]
snippet quo
	[quote={1}]{2}[/quote]
