body
{
    background: #141414;
    color: #e0e0e0;
    margin: 0.5em 2em;
    vertical-align: baseline;
    line-height: 1.3;
    font-family: sans-serif;
}

body[bgcolor]
{
    background: #141414 !important;
}

a:link
{
    color: #608BCC;
    text-decoration: none;
}

a[accesskey]:after,
button[accesskey]:after,
input[accesskey]:after,
label[accesskey]:after,
legend[accesskey]:after,
textarea[accesskey]:after
{
   margin-left: 0.3em;
   content: "[" attr(accesskey) "]";
}

